input {
  padding: 0.25rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

i {
  font-size: 1.2rem;
  padding-left: 0.5rem;
  font-weight: bold;
}

.bkg {
  background-color: #8c86aa;
  border: none;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  height: 1.7rem;
  width: 15rem;
}
